<div class="gumga-register">

    <div id="loadingbar" ng-show="$ctrl.loading">
        <div id="bar4"></div>
        <div id="bar3"></div>
        <div id="bar2"></div>
        <div id="bar1"></div>
    </div>

    <img ng-src="{{$ctrl.config.logo}}" />

    <div class="content" ng-show="$ctrl.step == 1">

        <h2 class="title">
            <span class="orange">
                <b>uhuuul!</b>
            </span> estamos muito felizes
            <br> por você topar o desafio
            <span class="orange">;)</span>
        </h2>

        <div class="container" >
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
                    <form autocomplete="off">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" name="mobiageUserName" autocomplete="off" ng-model="$ctrl.user.name" ng-class="{'input-error': (!$ctrl.user.name || $ctrl.user.name.length < 2)}"
                                        placeholder="Nome Completo" class="form-control">
                                    <i class="material-icons" title="Preencha seu nome completo">close</i>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="email" autocomplete="off" ng-model="$ctrl.user.email" ng-blur="$ctrl.blurEmail()" ng-class="{'input-error': (!$ctrl.user.email || !$ctrl.isValidEmail($ctrl.user.email))}"
                                        placeholder="Seu E-mail" class="form-control">
                                    <i class="material-icons" title="Informe um endereço de e-mail válido">close</i>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="password" autocomplete="off" ng-model="$ctrl.user.password" placeholder="Digite uma senha" ng-class="{'input-error': (!$ctrl.user.password || $ctrl.user.password.length < 3)}"
                                        class="form-control">
                                    <i class="material-icons" title="Informe uma senha maior que 3 caracteres.">close</i>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="password" autocomplete="off" ng-model="$ctrl.user.confirmPassword" placeholder="Repetir Senha" class="form-control"
                                        ng-class="{'input-error': (!$ctrl.user.confirmPassword || $ctrl.user.confirmPassword != $ctrl.user.password)}">
                                    <i class="material-icons" title="Repita a senha corretamente.">close</i>
                                </div>
                            </div>
                        </div>

                        <button class="btn-register" ng-disabled="!$ctrl.isValidContinue() || $ctrl.loading" ng-click="$ctrl.continue()">
                            {{$ctrl.config.textBtnStepOne}}
                        </button>

                        <span class="terms">Clicando no botão acima você concoda com nossos
                            <a href="#">
                                <b>termos de uso</b>
                            </a>
                        </span>

                    </form>
                </div>
            </div>
        </div>

    </div>

    <div class="content" ng-show="$ctrl.step == 2">
        <h2 class="title">
            <span class="pink">
                <b>{{$ctrl.getFirstName()}}</b>
            </span>, agora você
            <br> é quase parte da família!
            <i class="material-icons pink" style="font-size: 40px;">favorite</i>
        </h2>
        <p class="subtitle">Seu ambiente virtual na Kigi
            <br> vai ser
            <b>íncrivel!</b>
        </p>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
                    <form>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <i class="material-icons icon-left">domain</i>
                                    <input type="text" autocomplete="off" ng-model="$ctrl.user.organization" ng-class="{'input-error': (!$ctrl.user.organization)}"
                                        placeholder="Nome da empresa?" class="form-control desc-active">
                                    <span class="green">.kigi.com.br</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <i class="material-icons icon-left">language</i>
                                    <input type="text" autocomplete="off" ng-model="$ctrl.user.domain" placeholder="Você já tem um dominio? " class="form-control desc-active">
                                </div>
                            </div>
                        </div>

                        <button class="btn-register" ng-disabled="!$ctrl.isValidContinue() || $ctrl.loading" ng-click="$ctrl.continue()">
                            Próximo
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="content" ng-show="$ctrl.step == 3">
        <h2 class="title">
            <span class="pink">
                <b>{{$ctrl.getOrganizationName()}} & Kigi</b>
            </span> a parceria
            <br> que deu
            <span class="uppercase">certo!</span>
            <i class="material-icons">thumb_up</i>
        </h2>
        <p class="subtitle">Fale um pouco sobre você,
            <b>qual
                <br> o seu negócio?</b>
        </p>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 step-three">
                    <form>

                        <div class="row">
                            <div class="col-md-4 option-step left" ng-click="$ctrl.setTypePerson('FISICA')">
                                <i class="material-icons">accessibility</i>
                                <label>Ainda
                                    <b>não tenho</b>
                                    <br> empresa</label>
                            </div>
                            <div class="col-md-4 option-step right" ng-click="$ctrl.setTypePerson('JURIDICA')">
                                <i class="material-icons">domain</i>
                                <label>Estou
                                    <b>pronto para
                                        <br> decolar! </b> Já tenho
                                    <br> minha empresa. </label>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="content" ng-show="$ctrl.step == 4">
        <h2 class="title">
            <span class="orange">
                <b>#</b>
            </span>Beleza {{$ctrl.getFirstName()}}...</h2>
        <p class="subtitle">O que você faz ai na empresa?</p>
        <select class="gl-select" ng-model="$ctrl.user.type" ng-init="$ctrl.user.type = 'Diretor'">
            <option value="Colaborador">Colaborador</option>
            <option value="Diretor">Diretor</option>
        </select>
        <p class="subtitle">Quantos colaboradores você já tem?</p>
        <div class="container">
            <div class="row">
                <form>

                    <div class="row row-step">
                        <div class="col-md-3 option-step left area-1" ng-click="$ctrl.setQntPerson('Sozinho')">
                            <i class="material-icons">accessibility</i>
                            <label>Tô sozinho!</label>
                        </div>
                        <div class="col-md-3 option-step right area-2" ng-click="$ctrl.setQntPerson('Até 3')">
                            <div class="multi multi-three">
                                <i class="material-icons">group</i>
                            </div>
                            <label>Até 3 Pessoas</label>
                        </div>
                        <div class="col-md-3 option-step right area-3" ng-click="$ctrl.setQntPerson('Até 7')">
                            <div class="multi multi-seven">
                                <i class="material-icons">group</i>
                                <i class="material-icons" style="position: absolute; bottom: 62px; padding: 0; border: none; right: 30px; background: #f86131; color: #FFF; font-size: 20px;">add</i>
                            </div>
                            <label>Até 7 Pessoas</label>
                        </div>
                        <div class="col-md-3 option-step right area-4" ng-click="$ctrl.setQntPerson('Mais que 7')">
                            <div class="multi multi-more">
                                <i class="material-icons">library_add</i>
                            </div>
                            <label>
                                <b>Eita</b>, mais de 7
                                <br> pessoas?</label>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="content" ng-show="$ctrl.step == 5">
        <h2 class="title">
            <span class="orange">
                <b>#</b>
            </span>Qual seguimento
            <br> você atua?</h2>
        <p class="subtitle">Estamos nos conhecendo isso é
            <b>incrível!</b>
        </p>
        <div class="container">
            <div class="row">
                <form>

                    <div class="row row-step">
                        <div class="col-md-3 option-step left area-1" ng-click="$ctrl.setFollow('Industria')">
                            <i class="material-icons">domain</i>
                            <label>Industria</label>
                        </div>
                        <div class="col-md-3  option-step left  area-2" ng-click="$ctrl.setFollow('Varejo')">
                            <i class="material-icons">shopping_cart</i>
                            <label>Varejo</label>
                        </div>
                        <div class="col-md-3 option-step left  area-3" ng-click="$ctrl.setFollow('Atacado e Distribuição')">
                            <i class="material-icons">store</i>
                            <label>Atacado e Distribuição</label>
                        </div>
                        <div class="col-md-3 option-step left  area-4" ng-style="{'color': $ctrl.infoFollow ? '#e41555' : ''}" ng-click="$ctrl.infoFollow = !$ctrl.infoFollow">
                            <i class="material-icons">help</i>
                            <label>Conta pra gente</label>
                        </div>

                    </div>

                    <div class="row" ng-show="$ctrl.infoFollow" ng-style="{'margin-top': '10rem'}">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="row row-flex">
                                    <div class="col-md-10">
                                        <i class="material-icons icon-left">help</i>
                                        <input type="text" autocomplete="off" ng-model="$ctrl.user.follow" ng-class="{'input-error': (!$ctrl.user.follow)}" placeholder="Digite seu seguimento"
                                            class="form-control">
                                    </div>
                                    <div class="col-md-2 col-flex">
                                        <button class="btn-register btn-register-arrow" ng-disabled="!$ctrl.user.follow || $ctrl.loading" ng-click="$ctrl.continue()">
                                            <i class="material-icons">keyboard_arrow_right</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="content" ng-show="$ctrl.step == 6">
        <h2 class="title">
            <span class="orange">
                <b>#</b>
            </span>Beleza, agora é só
            <br> configurar
            <span class="orange">
                <b>:)</b>
            </span>
        </h2>
        <p class="subtitle">Estamos quase lá, vamos configurar
            <br> tudo pra você.</p>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 step-three">
                    <form>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <i class="material-icons icon-left">room</i>
                                    <input type="text" id="cepInput" autocomplete="off" placeholder="Conta pra gente seu endereço" class="form-control desc-active">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-8">
                                    <input type="text" autocomplete="off" ng-model="$ctrl.user.address.zipCode" ng-class="{'input-error': !$ctrl.user.address.zipCode}" placeholder="CEP" class="form-control">
                                    <i class="material-icons" title="Preencha seu CEP">close</i>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" autocomplete="off" ng-model="$ctrl.user.address.number" ng-class="{'input-error': !$ctrl.user.address.number}" placeholder="Número" class="form-control">
                                    <i class="material-icons" title="Preencha seu CEP">close</i>
                                </div>
                            </div>
                        </div>

                        <button class="btn-register" ng-disabled="!$ctrl.isValidContinue() || $ctrl.loading" ng-click="$ctrl.create()">
                            Próximo
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>


    <button class="btn-back" ng-click="$ctrl.back()" ng-show="$ctrl.step > 1">
        <i class="material-icons">keyboard_arrow_left</i>
        Voltar
    </button>

    <!-- <div class="gl-footer">
        <div class="bar-1"></div>
        <div class="bar-2"></div>
        <div class="bar-3"></div>
    </div> -->

</div>